.wrapper{
    height: 90%;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    color: rgb(7, 7, 7);
    margin: 5% 10%;
}
.wrapper a{
    color: rgb(7, 7, 7);
    text-decoration: none;
}
.wrapper a:hover{
    text-decoration: underline;
    color:rgb(201, 87, 87);
    font-size: 18px;
 
}